{% extends 'base.html.twig' %}

{% block title %}{{ lesson.nameLesson }}{% endblock %}

{% block body %}
    <h1>{{ lesson.nameLesson }}</h1>

    <p><strong>Название курса:</strong> <a href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.name }}</a></p>
    <p><strong>Описание:</strong></p>
    <div>{{ lesson.lessonContent }}</div>
    <br>
    <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">Редактировать урок</a>
    <br>
    <a href="{{ path('app_lesson_delete', {'id': lesson.id}) }}" onclick="return confirm('Are you sure?')">Удалить урок</a>
    <br>
    <a href="{{ path('app_course_show', {'id': course.id}) }}">Вернуться к курсу</a>
{% endblock %}
