{% extends 'base.html.twig' %}

{% block title %}{{ lesson.nameLesson }}{% endblock %}

{% block body %}
    <h1>{{ lesson.nameLesson }}</h1>

    <p><strong>Название курса:</strong> <a href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.name }}</a></p>
    <p><strong>Описание:</strong></p>
    <div>{{ lesson.lessonContent }}</div>
    <br>
    <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">Редактировать урок</a>
    <br>
    <form action="{{ path('app_lesson_delete', {'id': lesson.id}) }}" method="post" onsubmit="return confirm('Вы точно хотите удалить? ');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
        <button type="submit" style="cursor: pointer;  color: red;">Удалить урок</button>
    </form>
    <br>
    <a href="{{ path('app_course_show', {'id': course.id}) }}">Вернуться к курсу</a>
{% endblock %}
